<mat-toolbar color="primary">
  <span><a routerLink="/" style="cursor: pointer"> Employee Manager </a></span>
  <span class="ajay"></span>
  <ul>
    <!-- <li>
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Login</a
      >
    </li>
    <li>
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Signup</a
      >
    </li> -->
    <li>
      <a
        mat-button
        routerLink="/add"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Add</a
      >
    </li>
    <li>
      <button mat-button style="cursor: pointer">Logout</button>
    </li>
  </ul>
</mat-toolbar>
