<mat-toolbar color="primary">
  <span><a routerLink="/" style="cursor: pointer"> Compare Yourself </a></span>
  <span class="ajay"></span>
  <ul>
    <li *ngIf="!isAuthenticated">
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Login</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Signup</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a
        mat-button
        routerLink="/add-compare"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        Add</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button style="cursor: pointer" (click)="logout()">
        Logout
      </button>
    </li>
    <li *ngIf="isAuthenticated">
      <a
        mat-button
        routerLink="/single"
        routerLinkActive="mat-accent"
        style="cursor: pointer"
      >
        My Account</a
      >
    </li>
  </ul>
</mat-toolbar>
